<div class="Logo">SkillArcade</div>
<div class="forgot-password-section">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label for="username">Username<span class="required">*</span></label>
      <div *ngIf="forgotPasswordForm.get('username')?.touched && forgotPasswordForm.get('username')?.invalid" class="error-message">
        Username is required
      </div>
      <input id="username" type="text" placeholder="Enter your username" formControlName="username" required/>
      
    </div>

    <div>
      <label for="newPassword">New Password<span class="required">*</span></label>
      <div *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.invalid" class="error-message">
        Password is required
      </div>
      <input id="newPassword" type="password" placeholder="Enter new password" formControlName="newPassword" required/>
      
    </div>

    <div>
      <label for="confirmPassword">Confirm Password<span class="required">*</span></label>
      <div *ngIf="forgotPasswordForm.get('confirmPassword')?.touched && forgotPasswordForm.get('confirmPassword')?.invalid" class="error-message">
        Please confirm your password
      </div>
      <input id="confirmPassword" type="password" placeholder="Confirm new password" formControlName="confirmPassword" required/>
      
      <div *ngIf="passwordMismatch" class="error-message">
        Passwords do not match!
      </div>
    </div>

    <button type="submit">Reset Password</button>
  </form>
</div>
